<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">Sayan Bhattacharyya</h1>

        <ul class="footer__list">
            <li>
                <a href="#about" class="footer__link">About</a>
            </li>

            <li>
                <a href="#skills" class="footer__link">Skills</a>
            </li>

            <li>
                <a href="#services" class="footer__link">Services</a>
            </li>

            <li>
                <a href="#projects" class="footer__link">Projects</a>
            </li>

            <li>
                <a href="#testimonials" class="footer__link">Testimonials</a>
            </li>

            <li>
                <a href="#contact" class="footer__link">Contact</a>
            </li>
        </ul>

        <ul class="footer__social">
            <a href="https://github.com/Sn1F3rt" target="_blank" class="footer__social-link">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/sayan-bhattacharyya/" target="_blank" class="footer__social-link">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://facebook.com/sn1f3rt" target="_blank" class="footer__social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://x.com/Sn1F3rt" target="_blank" class="footer__social-link">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/sn1f3rt/" target="_blank" class="footer__social-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://discord.com/users/589768200766619659" target="_blank" class="footer__social-link">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://t.me/sn1f3rt" target="_blank" class="footer__social-link">
                <i class="fab fa-telegram"></i>
            </a>
        </ul>

        <span class="footer__copyright">
            &copy; <script>document.write(new Date().getFullYear())</script> Sayan "Sn1F3rt" Bhattacharyya
        </span>
    </div>
</footer>
