<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="Sayan Bhattacharyya">
<meta name="description" content="A 21-year-old student, freelancer, and full-stack developer from 🇮🇳.">

<meta property="og:type" content="website">
<meta property="og:url" content="https://sn1f3rt.dev/">
<meta property="og:title" content="Sayan Bhattacharyya">
<meta property="og:description" content="A 21-year-old student, freelancer, and full-stack developer from 🇮🇳.">
<meta property="og:image" content="https://sn1f3rt.dev/assets/img/meta-banner.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sn1f3rt.me/">
<meta property="twitter:title" content="Sayan Bhattacharyya">
<meta property="twitter:description" content="A 21-year-old student, freelancer, and full-stack developer from 🇮🇳.">
<meta property="twitter:image" content="https://sn1f3rt.dev/assets/img/meta-banner.png">

<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/assets/css/main.css">
