<nav class="nav container">
    <a href="#" class="nav__logo">Sn1F3rt</a>

    <div class="nav__menu">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#home" class="nav__link active-link">
                    <i class="fas fa-home-alt"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#about" class="nav__link">
                    <i class="fas fa-user-large"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#skills" class="nav__link">
                    <i class="fas fa-screwdriver-wrench"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#services" class="nav__link">
                    <i class="fa fa-list-check"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#projects" class="nav__link">
                    <i class="fas fa-briefcase"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#testimonials" class="nav__link">
                    <i class="fas fa-users"></i>
                </a>
            </li>

            <li class="nav__item">
                <a href="#contact" class="nav__link">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="theme-button">
        <i class="fas fa-palette change-theme"></i>
    </div>
</nav>
