<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>

    <div class="about__container container grid">
        <img src="/assets/img/about.jpg" alt="About image" class="about__img">

        <div class="about__data">
            <div class="about__info">
                <div class="about__box">
                    <i class="far fa-user about__icon"></i>
                    <h3 class="about__title">Age</h3>
                    <span class="about__subtitle">21</span>
                </div>

                <div class="about__box">
                    <i class="fas fa-award about__icon"></i>
                    <h3 class="about__title">Experience</h3>
                    <span class="about__subtitle">4+ Years</span>
                </div>

                <div class="about__box">
                    <i class="fas fa-globe about__icon"></i>
                    <h3 class="about__title">Country</h3>
                    <span class="about__subtitle">India</span>
                </div>
            </div>

            <p class="about__description">
                I am a student, freelancer and a full-stack developer
                with over four years of experience in backend design,
                database administration and server management. I am creative
                and love to come up with innovative solutions to modern problems.
                I am a team player and always open to learning.
            </p>

            <a href="#contact" class="button">Contact Me</a>
        </div>
    </div>
</section>
