<section class="projects section" id="projects">
    <h2 class="section__title">My Projects</h2>

    <div class="projects__filters">
        <span class="projects__item active-project" data-filter="all">All</span>
        <span class="projects__item" data-filter=".web">Web</span>
        <span class="projects__item" data-filter=".blockchain">Blockchain</span>
        <span class="projects__item" data-filter=".discord">Discord</span>
        <span class="projects__item" data-filter=".cli">CLI</span>
        <span class="projects__item" data-filter=".gui">GUI</span>
    </div>

    <div class="projects__container container grid">
        <div class="projects__card mix blockchain web">
            <img src="/assets/img/projects/blogchain.jpg" alt="BlogChain" class="projects__img">

            <h3 class="projects__title">BlogChain</h3>

            <p class="projects__description">
                BlogChain is a decentralized blogging <br>
                platform that implements the Sign-In <br>
                with Ethereum authentication protocol <br>
                natively in Python.
            </p>

            <a href="https://github.com/Sn1F3rt/BlogChain/" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix discord web">
            <img src="/assets/img/projects/fumestop.jpg" alt="FumeStop" class="projects__img">

            <h3 class="projects__title">FumeStop</h3>

            <p class="projects__description">
                FumeStop is a collection of versatile <br>
                Discord bots, having a wide range of <br>
                features from moderation to music, <br>
                which enhances your Discord experience!
            </p>

            <a href="https://fumes.top/" class="projects__button">
                <i class="fas fa-globe projects__icon"></i> Website <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
            <a href="https://github.com/FumeStop/" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix cli">
            <img src="/assets/img/projects/bench-sh.jpg" alt="bench-sh" class="projects__img">

            <h3 class="projects__title">bench-sh</h3>

            <p class="projects__description">
                <code>bench.sh</code> is an open-source VPS <br>
                benchmarking script with various features <br>
                like IPv4, IPv6 speedtest, disk I/O test, <br>
                geekbench etc.
            </p>

            <a href="https://github.com/Sn1F3rt/bench-sh" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>


        <div class="projects__card mix discord">
            <img src="/assets/img/projects/quartcord.jpg" alt="quartcord" class="projects__img">

            <h3 class="projects__title">quartcord</h3>

            <p class="projects__description">
                <code>quartcord</code> is a python library which serves <br>
                as a Discord OAuth2 extension for Quart.
            </p>

            <a href="https://github.com/Sn1F3rt/quartcord" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix blockchain">
            <img src="/assets/img/projects/xolentum.jpg" alt="Xolentum" class="projects__img">

            <h3 class="projects__title">Xolentum</h3>

            <p class="projects__description">
                Xolentum is a decentralized, peer-to-peer <br>
                and open-source digital currency. It's fast, <br>
                secure and completely private.
            </p>

            <a href="https://xolentum.xyz/" class="projects__button">
                <i class="fas fa-globe projects__icon"></i> Website <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
            <a href="https://github.com/xolentum" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix cli">
            <img src="/assets/img/projects/yt50p.jpg" alt="YT50P" class="projects__img">

            <h3 class="projects__title">YT50P</h3>

            <p class="projects__description">
                YT50P is my final projects for the CS50P <br>
                course by Harvard. It is a tool which <br>
                helps download a YouTube video in <br>
                mp3/mp4 format. It supports both library <br>
                usage and a command line interface.
            </p>

            <a href="https://github.com/Sn1F3rt/YT50P" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix gui">
            <img src="/assets/img/projects/codeclause-speed-typing-test.jpg" alt="Speed Typing Test" class="projects__img">

            <h3 class="projects__title">Speed Typing Test</h3>

            <p class="projects__description">
                A Typing Speed Test application <br>
                implemented using Python as my <br>
                first golden projects for the <br>
                CodeClause Internship.
            </p>

            <a href="https://github.com/Sn1F3rt/CodeClauseInternship_Speed-Typing-Test-in-Python" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
            <a href="https://www.linkedin.com/posts/sayan-bhattacharyya_codeclause-activity-7101240798330990592-OjF9" class="projects__button">
                <i class="fab fa-linkedin-in projects__icon"></i> LinkedIn <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
        </div>

        <div class="projects__card mix web">
            <img src="/assets/img/projects/codeclause-library-management-system.jpg" alt="Library Management System" class="projects__img">

            <h3 class="projects__title">Library Management System</h3>

            <p class="projects__description">
                A basic Library Management System <br>
                implemented using Flask as my second <br>
                golden projects for the CodeClause <br>
                internship.
            </p>

            <a href="https://github.com/Sn1F3rt/CodeClauseInternship_Library-Management-System" class="projects__button">
                <i class="fab fa-github projects__icon"></i> GitHub <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>
            <a href="https://www.linkedin.com/posts/sayan-bhattacharyya_codeclause-activity-7101246505738485760-glMl" class="projects__button">
                <i class="fab fa-linkedin-in projects__icon"></i> LinkedIn <i class="fas fa-up-right-from-square projects__icon"></i>
            </a>

        </div>
    </div>
</section>
