<section class="services section" id="services">
    <h2 class="section__title">My Services</h2>

    <div class="services__container container grid">
        <div class="services__card">
            <h3 class="services__title">Backend <br> Development</h3>

            <span class="services__button">
                See more <i class="fas fa-arrow-right services__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <span class="services__modal-close"><i class="fas fa-xmark"></i></span>

                    <h3 class="services__modal-title">Backend Development</h3>
                    <p class="services__modal-description">
                        Developing backend for various projects, designing feature-rich APIs,
                        inter-process communication, designing SQL schema, managing
                        large-scale databases, and integrating them with frontend/backend
                        applications.
                    </p>

                    <ul class="services__modal-list">
                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Flask/Quart
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Django
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                discord.py
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                web3.py
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                MariaDB/MySQL | MongoDB
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="services__card">
            <h3 class="services__title">UI/UX <br> Design</h3>

            <span class="services__button">
                See more <i class="fas fa-arrow-right services__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <span class="services__modal-close"><i class="fas fa-xmark"></i></span>

                    <h3 class="services__modal-title">UI/UX Design</h3>
                    <p class="services__modal-description">
                        Designing beautiful user interfaces and integrating the
                        backend server with the frontend for the best user experience.
                    </p>

                    <ul class="services__modal-list">
                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                HTML
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                CSS
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Javascript
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                React.js
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="services__card">
            <h3 class="services__title">Server <br> Management</h3>

            <span class="services__button">
                See more <i class="fas fa-arrow-right services__icon"></i>
            </span>

            <div class="services__modal">
                <div class="services__modal-content">
                    <span class="services__modal-close"><i class="fas fa-xmark"></i></span>

                    <h3 class="services__modal-title">Server Management</h3>
                    <p class="services__modal-description">
                        Managing and administering various Linux (Ubuntu & Debian) servers,
                        system updates, cron jobs and internode connections.
                    </p>

                    <ul class="services__modal-list">
                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Ubuntu/Debian
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Nginx/Apache
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Git
                            </p>
                        </li>

                        <li class="services__modal-item">
                            <i class="fas fa-check services__modal-icon"></i>
                            <p class="services__modal-info">
                                Docker
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>