<section class="skills section" id="skills">
    <h2 class="section__title">My Skills</h2>

    <div class="skills__container container grid">
        <div class="skills__box">
            <h3 class="skills__title">Coding</h3>

            <div class="skills__content">
                <div class="skills__group">
                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Python</h3>
                            <span class="skills__level">Advanced</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Javascript</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">HTML</h3>
                            <span class="skills__level">Advanced</span>
                        </div>
                    </div>
                </div>

                <div class="skills__group">
                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">CSS</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Java</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">C/C++</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills__box">
            <h3 class="skills__title">Tech Stack</h3>

            <div class="skills__content">
                <div class="skills__group">
                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Git</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Linux</h3>
                            <span class="skills__level">Basic</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">MySQL</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>
                </div>

                <div class="skills__group">
                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">REST API</h3>
                            <span class="skills__level">Advanced</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">Security</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class="fas fa-circle-check"></i>

                        <div>
                            <h3 class="skills__name">IoT</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
