<section class="testimonials section" id="testimonials">
    <h2 class="section__title">Testimonials</h2>

    <div class="testimonials__container container swiper">
        <div class="swiper-wrapper">
            <div class="testimonials__card swiper-slide">
                <img src="/assets/img/testimonial/luxbug.png" alt="@luxbug" class="testimonials__img">

                <h3 class="testimonials__name"><i class="fab fa-discord"></i> Luxbg (@luxbug)</h3>
                <p class="testimonials__description">
                    Sn1F3rt was a great seller to work with.
                    He created my bot exactly like I envisioned
                    and was able to walk me thought step by step
                    on how to install and modify.
                    <br><br>
                    Best Features:
                    <br>
                    - Completed the Bot on Time
                    <br>
                    - I was invited to a Test server where I was
                    able to test all the functions of my bot.
                    <br>
                    - He provided documentation and videos showing
                    how to install, modify, host etc.
                    <br>
                    - Provided support even after he completed the project.
                    <br><br>
                    Highly recommend, will definitely have him
                    develop my future bots!
                </p>
            </div>

            <div class="testimonials__card swiper-slide">
                <img src="/assets/img/testimonial/r0bc0d3r.png" alt="@r0bc0d3r" class="testimonials__img">

                <h3 class="testimonials__name"><i class="fab fa-discord"></i> R0BC0D3R (@r0bc0d3r)</h3>
                <p class="testimonials__description">
                    @Sn1F3rt is a hardworking team player, who listens to feedback, offers suggestions on how to improve functionality and is flexible in making adjustments as business requirements change.
                    <br><br>
                    He is a problem solver, who can figure out things on his own or come up with alternative solutions when stuck. He's a pleasure to work with!
                </p>
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>
