<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sayan Bhattacharyya</title>
        {% include "meta/head.html" %}
    </head>

    <body>
        <header class="header" id="header">
            {% include "meta/nav.html" %}
        </header>

        <main class="main">
            {% include "sections/home.html" %}

            {% include "sections/about.html" %}

            {% include "sections/skills.html" %}

            {% include "sections/services.html" %}

            {% include "sections/projects.html" %}

            {% include "sections/testimonials.html" %}

            {% include "sections/contact.html" %}
        </main>

        {% include "meta/footer.html" %}

        {% include "meta/scripts.html" %}
    </body>
</html>